@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kiwi+Maru&family=Montserrat+Alternates:wght@500&family=Open+Sans:wght@400;600&family=Patrick+Hand&family=Playfair+Display:wght@400;600&family=Solitreo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
	//height: 100%;
	background-color: #fffff0;
	@apply text-black;
}

.dark {
	height: 100%;
	background-color: #111827;
	@apply text-white;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #fff;
	transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #000000;
	transition: background-color 5000s ease-in-out 0s;
}

select:invalid {
	color: rgb(148 163 184);
}
